<div class="row">
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12" ng-repeat="recipe in recipes | filter:query.query">
        <div class="panel panel-default">
            <div class="panel-thumbnail"><a href="" ng-click="openDetailModal($index)"><img src="{{ recipe.photo }}"
                                                                                            class="img-responsive"></a></div>
            <div class="panel-body">
                <p class="lead">{{ recipe.name }}</p>

                <p id="RecipeDescription">{{ recipe.description }}</p>
                <button class="btn btn-default" ng-click="openDetailModal($index)">Details</button>
            </div>
        </div>
    </div>
</div>
<button class="btn btn-info pull-left" ng-show="previous" ng-click="loadPage(previous)">Previous</button>
<button class="btn btn-info pull-right" ng-show="next" ng-click="loadPage(next)">Next</button>